body {
    font-family: 'Coiny', cursive;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; /* Fondo suave */
}

header {
    background-color: #fff; /* Fondo blanco para el header */
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para el header */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #3f1ed2; /* Color azul oscuro */
    font-weight: bold; /* Texto en negrita */
}

h1, h2 {
    color: #3f1ed2; /* Color azul oscuro */
    text-align: center;
    margin-bottom: 20px;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#toggle-info {
    background-color: #3f1ed2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


